<nav class="navbar navbar-expand-sm text-white navbar-dark" style="border:2px solid black;background-color: #FF5C20;font-family: Montserrat, sans-serif;">  
    
  	<h1 style="margin-left:20%"><b>Hostel Management System</b></h1>
  	<image src=<%=url_for(current_user.ProfilePic)%> alt="logo" style="width:7%;border-radius: 50%;margin-left:35%"> 
</nav>